{% load static %}
<div class='base-form__errors'>
    {% if form.errors %}
        {% for error in form.non_field_errors %}
            <span class="text-danger">{{ error|escape }}</span>
        {% endfor %}
    {% endif %}
</div>

<form method='POST'{% if form.is_multipart %} enctype="multipart/form-data" {% endif %}>
    {% csrf_token %}
    {% for field in form %}
        <div>
            <label for='{{ field.id_for_label }}' class="form-label">
                {{ field.label }}
                {% if field.field.required %}
                    <span>*</span>
                {% endif %}
            </label>
            <div>
                {% for error in field.errors %}
                    <span class="text-danger">{{ error|escape }}</span>
                {% endfor %}
            </div>
            {{ field }}
            {% if field.help_text %}
                <small id='{{ field.id_for_label }}-help'>
                    {{ field.help_text|safe }}
                </small>
            {% endif %}
        </div>
    {% endfor %}

    <div>
        <button name='edit' type='submit' class='btn btn-primary d-block mt-3 rounded-pill'>{{ submit_text }}</button>
        {% if edit %}
            <button type='button' class='btn'>Удалить</button>
        {% endif %}
    </div>
    {% if show_register_link %}
        <span class='base-form__link'>
                Нет аккаунта?  <a href='{% url "users:signup" %}'>Зарегистрируйтесь!</a>
            </span>
    {% endif %}
    {% if show_already_have_account %}
        <span class='base-form__link d-block mt-2'>
                Уже есть аккаунт? <a href='{% url "users:login" %}'>Войти</a>
            </span>
    {% endif %}
</form>
