{% extends 'base.html' %}

{% block title %}
    Профиль {{ user.username|safe }}
{% endblock %}

{% block content %}
    <div>
        <h1 class='title'>Профиль пользователя {{ user.username|safe }}</h1>
        <div class='user-detail-container col-12'>
            <div class='user-info'>
                <div class='user-info__top'>
                    <span class='user-info__name'>{{user.username}}</span>
                </div>
                {% if user.email %}
                    <div class="user-info__row">
                        <span class='user-info__value user-info__email'>{{user.email}}</span>
                        <span class="user-info__row-title">
                            Почта
                        </span>
                    </div>
                {% endif %}
            </div>
        </div>
        
    </div>
{% endblock %}